
/** -- FONTS -- */
@font-face {
    font-family: Myriad;
    src: url('../fonts/Myriad Pro Regular.ttf');
}
@font-face {
    font-family: Titillium;
    src: url('../fonts/TitilliumWeb-Light.ttf');
}


/** -- MAIN CONTENT -- */
body {
    margin: 0;
    width:100vw;
    height:100vh;
    background-color: lightgray;
    font-family: Titillium;
}
h1, h2, h3 {
    font-family: Myriad;
}
#content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100vh;
    margin-left: 17vw;
    transition: all 0.3s ease-in-out;   
}
p, h1 {
    transition: all 1s linear;   
}


/** -- MENU -- */
#menu_bar {
    position: fixed;
    background-color: #4f565e;
    width: 17vw;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    left: 0vw;    
}
#menu_bar ul {
    list-style-type: none;
    margin-top: 8vh;
    margin-left: 1vw;
}

/** Underlines elements for the menu */
.menu-underline {
    position: relative;
}
.menu-underline:after {
    z-index: 1;
    content: '';
    position: absolute;
    width: 0%;
    border-top: solid 2.5px white;
    left: 0;
    bottom: -3px;
    border-radius: 3%;
    transition: width 0.2s ease-in-out;
}
.menu-underline:hover:after {
    width: 100%;
}

/** Li elements making up the top section of the menu */
.menu_top {
    margin-top: 6vh;
    display: inline-flex;
    width: 10vw;
    font-weight: bold;
    font-size: 25px;
    font-family: Titillium;
    color: rgb(231, 230, 230);
}

/** Border */
#menu_list li:nth-child(6) {
    border-bottom: solid 1.5px white;
    padding-bottom: 5.5vh;
}
.menu_infos {
    font-size: 15px;
    color: rgb(231, 230, 230);
}

/** Li elements containing phone and email */
#menu_list li:nth-child(7){
    margin-top: 5.5vh;
    font-size: 1.1em;
}
#menu_list li:nth-child(8){
    margin-top: 0vh;
    font-size: 1.1em;
}
#menu_social {
    margin-top: 4vh;
}
#menu_social i {
    color: white;
    padding-right: 1vw;
    font-size: 1.5em;
}


/** -- CHECKBOX FOR MENU -- */
#menu_toggle_div {
    order: 1;
    margin-left: 1vw;
    margin-top: 1.5vh;
}
#menu_toggle {
    display: none;
}
#icon-menu-toggle {
    font-size: 40px;
}

/** -- LOGO -- */
#logo {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 1150px;
    order: 2;
    margin: auto;
    margin-top: 13vh;
    padding: 110px 110px;
    text-align: center;
    align-items: center;
    font-size: 20px;
}
#h1_logo {
    order: 1;
    margin: 0;
    font-size: 70px;
}
#p2_logo {
    order: 2;
    flex-basis: 85px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 50px;
    color: black;
}

/** -- BUTTON -- */
#button_logo {
    order: 3;
    margin-top: 0px;
    text-decoration: none;
    border: solid 2px #555d67;
    background-color: #555d67;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    width: 50%;
    font-family: inherit;
    padding: 10px;
    cursor: pointer;
}
#button_logo:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

/** -- POINTS MENU -- */
#points {
    order: 4;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: lightgrey;
    border: 1px solid #7d7c7c;
    border-radius: 100%;
    margin-right: 20px;
    margin-bottom: 4px;
}

