
/** FOOTER MAIN */
.footer {
    width: 100vw;
    height: 35vh;
    background-color: #555d67;
    padding-bottom: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-logo {
    order: 1;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.footer-text {
    order: 2;
    text-align: center;
    margin-bottom: 1.7rem;
    padding-left: 30%;
    padding-right: 30%;
    color: white;
}
.footer-icons {
    order: 3;
    text-align: center;
    font-size: 2.2rem;
    margin-top: 1rem;
    color: white;
}
.footer-icons i {
    padding-right: 1%;
    padding-left: 1%;
}