

/** -- GALLERY MAIN -- */
.gallery-section {
    width: 100vw;
    height: 100vh;
    min-height: 0;
    min-width: 0;
}

/** -- TITLE -- */
.gallery-title {
    padding-top: 7vh;
}
.gallery-title h1  {
    text-align: center;
    font-size: 4.4rem;
}
.gallery-title p {
    text-align: center;
    font-size: 1.3rem;
    padding-right: 25vw;
    padding-left: 25vw;
}


/** SLICK MENU */
.gallery-slick-menu {
    display: block;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}
.gallery-slick-menu .slick-slide {
    height: 22rem; 
    margin-right: 10rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.gallery-slick-menu__image {
    position: relative;
    border: solid 1px black;
}
.gallery-slick-menu__image img {
    width: 100%;
    height: 100%;
}
