

/** -- GALLERY MAIN -- */
.gallery-section {
    width: 100vw;
    height: 100vh;
    min-height: 0;
    min-width: 0;
}

/** -- TITLE -- */
.gallery-title {
    border: none;
}
.gallery-title h1  {
    text-align: center;
    font-size: 4.4rem;
}
.gallery-title p {
    text-align: center;
    font-size: 1.3rem;
    padding-right: 25vw;
    padding-left: 25vw;
}


.test-slick {
    display: block;
}
/** SLICK MENU */
.gallery-slick-menu {
    position: relative;
}
.gallery-slick-menu__image {
    width: 20%;
}