

/** -- GALLERY MAIN -- */
.gallery-section {
    width: 100vw;
    height: 100vh;
    min-height: 0;
    min-width: 0;
}

/** -- TITLE -- */
.gallery-title {
    padding-top: 7vh;
}
.gallery-title h1  {
    text-align: center;
    font-size: 4.4rem;
}
.gallery-title p {
    text-align: center;
    font-size: 1.3rem;
    padding-right: 25vw;
    padding-left: 25vw;
}


/** SLICK MENU */
.gallery-slick-menu {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}
.gallery-slick-menu .slick-slide {
    height: 16rem; 
    /** Can be used to change width of images box */
    margin-right: 4rem;
    margin-left: 4rem; 
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.gallery-slick-menu .slick-track {
    margin-right: 0;
}
.gallery-slick-menu__image {
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 12px) calc(100% - 12px) no-repeat,
                linear-gradient(90deg, #929292 0%, #313131 100%);
    padding: 11px;
    box-sizing: border-box;
}
.gallery-slick-menu__image img {
    width: 100%;
    height: 100%;
}
/** Hide the default arrows icons */
.gallery-slick-menu .slick-prev:before, .gallery-slick-menu .slick-next:before {
    content: '';
}
.gallery-slick-menu .slick-next {
    top: 38.5%;
    left: 99.5%;
}   
.gallery-slick-menu .slick-prev {
    top: 38.5%;
    left: -6%;
}
.gallery-slick-menu__arrow-icon {
    position: absolute;
    color: #5e5e5d;
    font-size: 5rem;
}