/** FONTS */
@font-face {
    font-family: Myriad;
    src: url('../fonts/Myriad Pro Regular.ttf');
}
@font-face {
    font-family: Titillium;
    src: url('../fonts/TitilliumWeb-Light.ttf');
}

/** MAIN */
body {
    margin-left: 0;
    width:100vw;
    height:100vh;
    background-color: lightgray;
    font-family: Titillium;
}

/* HEADER 1 */
#header1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    /* MENU */
    #menu_header1 { 
        display: inline-flex;
        order: 1;
        padding-right: 15px;
        gap: 5vw;
        font-weight: bold;
    }
    .underline_menu_header1 {
        position: relative;
    }
    .underline_menu_header1:after {
        content: '';
        position: absolute;
        width: 0%;
        border-top: solid 2.5px black;
        left: 0;
        bottom: -3.5px;
        border-radius: 25%;
        transition: width 0.2s ease-in-out;
    }
    .underline_menu_header1:hover:after {
        width: 100%;
    }
    /** LOGO */
    #logo_header1 {
        text-align:center;
        margin-right: auto;
        padding-left: 1vw;
    }
    .icon-social-vkontakte {
        font-size:50px;
    }

    /* TITLE & ARROW */
    #title_header1 {
        order: 2;
        text-align: center;
        font-size: 25px;
        padding:30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #title_p {
        margin-bottom: 5px;
    }
    #arrow-left_header1, #arrow-right_header1 {
        display: inline-block;
        text-align: center;
        font-size: 15px;
    }

    /** DOTS MENU */
    #points_header1 {
        display: inline-flex;
        flex-direction: column;
        order: 3;
        text-align: center;
        align-items: center;
        padding: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .dot_header1 {
        height: 10px;
        width: 10px;
        background-color: lightgrey;
        border: 1.5px solid rgb(77, 77, 77);
        border-radius: 100%;
        display: inline-block;
    }

#points_header1 {
    order: 4;
}